---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CardAnime } from "@/components/anime/AnimeCard.tsx";
import { getRecentAnimes } from "@/api/jikan";
import type { Anime } from "@/types";

const animes: Anime[] = await getRecentAnimes();
---

<BaseLayout>
  <div>
	<h1 class="text-3xl font-bold mb-4">Animes Recientes</h1>
	<p class="text-gray-700 mb-6">Explora los anime recientes de la temporada</p>
	<div class="grid grid-cols-4 gap-5">
		{animes.map((anime) => (
			<CardAnime 
				mal_id={anime.mal_id}
				title={anime.title}
				images={anime.images}         
				synopsis={anime.synopsis}
				type={anime.type}
				score={anime.score}
				genres={anime.genres}  
			/>
		))}
	</div>
  </div>	
</BaseLayout>

